<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="/js/app/lecture.js"></script>

</head>
<body>
<div class="container">
    <main role="main" class="container">
        <br><br>
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">강의 등록</h1>
                <br>
                <p class="col-md-8 fs-4">
                <div class="starter-template">
                    <form id="update-validate">
                        <input type="hidden" name="instructorId" id="instructorId" th:value="${userId}"/>
                        <input type="hidden" name="id" id="id" th:value="${lecture.id}"/>

                        <div class="form-group">
                            <label style="float: left" for="title" class="col-sm-2 control-label">제목</label>
                            <div style="margin-top: 10px;">
                                <input type="text" class="form-control" id="title" th:value="${lecture.title}"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label style="float: left" for="instructorNickname" class="col-sm-2 control-label">작성자</label>
                            <div style="margin-top: 10px;">
                                <input type="text" class="form-control" id="instructorNickname" th:value="${nickname}" readonly/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label style="float: left" for="description" class="col-sm-2 control-label">내용</label>
                            <div style="margin-top: 10px;">
                                <textarea class="form-control" id="description" th:text="${lecture.description}"
                                          style="width: 100%; height: 15em; resize: none;"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label style="float: left" for="runningTime" class="col-sm-2 control-label">분량</label>
                            <div style="margin-top: 10px;">
                                <input type="number" class="form-control" id="runningTime" name="runningTime" th:value="${lecture.runningTime}">
                            </div>
                        </div>

                        <div class="btn_wrap text-center" style="margin-top: 20px;">
                            <a th:href="@{/}" class="btn btn-outline-secondary">돌아가기</a>
                            <button type="button" class="btn btn-outline-primary waves-effect waves-light"
                                    id="btn-update">저장하기
                            </button>
                        </div>
                    </form>
                </div>
                </p>
            </div>
        </div>
    </main>
</div> <!-- /container -->

<div th:replace="fragments/footer :: footer"/>
<script src="/js/app/lecture.js"></script>

</body>
</html>